.pokemon {
    display: inline-block;
    text-align: center;
}

.pokemon img {
    display: block;
}

/* .pokemon {
    display: inline-block;
    text-align: center;
}
.pokemon img {
    display: block;
} */
