<!DOCTYPE html>
<html lang="en">

<%- include('partials/head') %>

<body>
    <%- include('partials/navbar') %>
    <h1>The Home Page <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum iusto nostrum repudiandae eum, ab quasi
        dignissimos voluptate minus repellat laborum provident iste iure voluptatem amet architecto eos neque voluptas
        distinctio.
        Nemo velit officiis ad placeat et natus eos dolor. Aliquam quas tenetur quod nisi quisquam illo quidem dolorem
        impedit quae, ex similique minus, obcaecati fuga. Eos provident fugit distinctio maxime.</p>

    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid molestiae, dolore eaque in cum et porro?
        Eveniet molestiae, architecto corporis repudiandae quibusdam veritatis itaque nam similique maiores eaque
        laboriosam impedit!

    </p>


</body>
<%- include('partials/footer') %>

</html>