<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>

<body>
    <h1>Edit Comment id: <%= id %> </h1>
    <h2>Username: <%= username %> </h2>
    <form action="/comments/<%= id %>?_method=PATCH" method="post">
        <section>
            <label for="comment">Comment Text</label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="5"><%= comment %> 
            </textarea>
        </section>
        <button>Submit</button>
    </form>
    <a href="/comments">Back to Index</a>
</body>

</html>